<div id="page">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Search</mat-label>
    <input #searchInput matInput class="search-bar" type="search" placeholder="Search for a movie..." (keydown.enter)="fetchSearch(searchInput.value)">
    <button (click)="fetchSearch(searchInput.value)" matSuffix mat-icon-button aria-label="Search" type="button">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<div>
  <mat-grid-list class="full-grid" cols="4" rowHeight="43em">
  <div #searchOutput *ngFor="let searchOption of movies; let i = index">
    <mat-grid-tile class="poster-grid">
      <mat-card class="example-card">
        <a routerLink="/movie-information/{{searchOption.Title}}" routerLinkActive="active">
          <img mat-card-lg-image class="img" src={{searchOption.Poster}}>
        </a>

        <mat-card-content>
          <h1>{{searchOption.Title}}</h1>
        </mat-card-content>
        
        <mat-card-actions class="button-grid">
          <a mat-button routerLink="/movie-information/{{searchOption.Title}}" routerLinkActive="active">
            More information ->
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </div>
  </mat-grid-list>
</div>
