#page {
  max-width: 1200px;
  width: calc(100% - 50px);
  padding: 0 25px;
  margin: 0 auto;
}

mat-form-field  {
  width: 100%;
  margin-top: 25px;
}

.full-grid {
  position: absolute;
  margin-left: 4%;
  width: 90%;
}

mat-card  {
  border: 0;
}

.img {
  height: auto;
  width: auto;
}

a {
  float: left;
  width: 100%;
}

.example-card {
  max-width: 300px;
}