<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Spider-Man: No Way Home</mat-card-title>
    <mat-card-subtitle>Tom Holland, Zendaya, Benedict Cumberbatch</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://m.media-amazon.com/images/M/MV5BZWMyYzFjYTYtNTRjYi00OGExLWE2YzgtOGRmYjAxZTU3NzBiXkEyXkFqcGdeQXVyMzQ0MzA0NTM@._V1_SX300.jpg">
  <mat-card-content>
    <p>
      With Spider-Man's identity now revealed, Peter asks Doctor Strange for help. When a spell goes wrong, dangerous foes
      from other worlds start to appear, forcing Peter to discover what it truly means to be
      Spider-Man.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Add to watchlist</button>
    <button mat-button>Rate movie</button>
  </mat-card-actions>
</mat-card>
